body{
    background: rgb(241, 241, 196);
    font-family: 'Montserrat', sans-serif;
    background-image: url(todolist.jpg);
    background-repeat: no-repeat;
    background-size: cover;
   
}

.btn{
    background: rgb(21, 26, 36);
    margin: 20px;
    border: 0px solid #fff;
    border-radius: 7px;
    outline: none;
    width: 30px;
    height: 20px;
    color: rgb(239, 243, 245);
    
}

.add-btn{
    background: pink;
    width: 100px;
    height: 40px;
    border: 0px solid #fff;
    border-radius: 20px;
    outline: none;
    margin-left:20px;
}
.add-btn:hover{
    border: 0.2px solid lightblue;
}
.title{
    color: rgb(57, 84, 94);
    font-size: 40px;
    margin-right: 10px;
    font-family: monospace;
}
.app-title{
    text-align: center;
    color: rgb(41, 50, 53);
    font-size: 40px;
    margin-right: 50px;
}
.container{
    border: none;
    border-radius: 20px;

}
.search{
    border:solid 5px #fff;
    box-sizing:border-box;
   border-radius: 20px;
  
    margin-left:-15vw;
    outline: none;
    height: 40px;
   
    width:50vw;
  
}
.search:hover{
    border:0.1px solid pink;
   
}
.list{
    list-style-type: numbers;
    color: teal;
    font-family: monospace;
    margin-left: 800px;
}